.fondo{
    background-image: url("../img/gym.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
}
.fondo1{
    background-image: url("../img/principal-bg.jpg");
    width: 100%;
    height: 100vh;
    background-position: center center;
}

label{
    color: #ffffff;
}

h4{
    text-align:center;
    font-size: 50px;
    color: #ffffff;
}
header.fondo
.intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}
.intro-lead-in {
    font-size: 45px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    @include serif-font;
    color: #ffffff;
    padding-top: 20%;
    margin-left: 30px;
}
.intro-heading {
    font-size: 85px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
@include heading-font;
    color: #ffffff;
    margin-left: 40px;

}
.inputtama単o{
    width: 45%;
    margin-left: 27%;

}
.inputtama単o2{
    width: 40%;
    margin-left: 60%;
}
.inputtama単o3{
    width: 40%;
    margin-left: 40%;
}


.labeltama単o{
    width: 20%;
    margin-left: 28%;

}
.label2{
    color: black;
    margin-left: 23%;
}
.boton {
    margin-left: 43%;
}

.boton {
    margin-left: 35%;
}

.botonrestablecer{
    margin-left: 26%;
}

.logopuma{
    background-image: url("../img/puma.png");
    width: 30%;
    height: 85vh;
    margin-left: 65%;
    padding-top: 10%;
    background-position: left;
}
.pumalogo{
    background-image: url("../img/puma.png");
    width: 30%;
    height: 85vh;
    background-position: center;
}

.textoprincipal{
    margin-right: 400%;
}

.h3centrado{
    text-align: center;
}

.my-5{
    width: 10%;
    height: 10%;
    margin-left: 78%;
}
.my-6{
    width: 10%;
    height: 10%;
    margin-left: 60%;
}
.my-7{
    width: 10%;
    height: 10%;
    margin-left: 70%;

}

.form-control3{
    width: 33%;
    height: 10%;
    margin-left: 33.5%;
}

.boton3{
    margin-left: 1%;
}
.container1{
    margin-left: 5%;
}












